@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
}

*, *:after, *:before {
  box-sizing: inherit;
}

html {
  font: 16px/1.5 Lato, Inter, Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}

body, input, button, textarea, label {
  font: inherit;
}

body {
  /* display: flex; */
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Noto Serif', Georgia, 'Times New Roman', Times, serif;
    line-height: 1.1;
    margin-bottom: 0.5rem;
}

h1 {
  font-size: 3rem;
}
h1 {
  font-size: 2.4rem;
}
h1 {
  font-size: 1.9rem;
}
h1 {
  font-size: 1.5rem;
}
h1 {
  font-size: 1.2rem;
}
h1 {
  font-size: 1rem;
}

p, ul, ol {
  margin-bottom: 1.5rem;
}

